       .singup-container {
           width: 90%;
           max-width: 500px;
           margin: 50px auto;
           padding: 20px;
           background: #fff;
           border-radius: 8px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       }
       .singup-container h3 {
           color: rgb(0, 129, 204);
           text-align: center;
           margin-bottom: 15px;
           width: 100%; 
           text-align: left; 
           font-size: 1.875rem;
       }
       .singup-container hr {
           border: 1px solid rgb(0, 129, 204);
           margin-bottom: 15px;
       }
       .singup-container form {
           display: flex;
           flex-direction: column;
       }
       .singup-container input[type="text"],
       .singup-container input[type="number"],
       .singup-container input[type="password"],
       .singup-container select {
           margin-bottom: 15px;
           padding: 10px;
           border: 1px solid #ddd;
           border-radius: 4px;
           font-size: 16px;
       }
       .singup-container button {
           background-color: rgb(0, 129, 204);
           color: #fff;
           border: none;
           padding: 10px;
           border-radius: 4px;
           cursor: pointer;
           font-size: 16px;
           transition: background-color 0.3s;
       }
       button:hover {
           background-color: rgb(0, 100, 170);
       }
       .singup-container a {
           color: rgb(0, 129, 204);
           text-decoration: none;
           font-weight: 700;
       }
       a:hover {
           text-decoration: underline;
       }
       .login-link {
           text-align: center;
           margin-top: 15px;
       }
       .file-upload {
           margin-bottom: 15px;
       }