.login-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h3 {
    color: rgb(0, 129, 204);
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 24px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-container button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(0, 129, 204);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #333;
}

.login-container p {
    margin-top: 10px;
}

.login-container a {
    color: #007BFF;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}